@page "/admin/plugins"
@inject SharpPress.Services.PluginManager _pluginManager

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Plugins";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">Plugin Management</div>
    </div>
    <div class="alert alert-info">
        Manage, upload, and configure your extensions here.
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in _pluginManager.GetLoadedPlugins())
                {
                    <tr>
                        <td>@p.Value.Name</td>
                        <td>@p.Value.Version</td>
                        <td><span class="badge badge-success">Active</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>